body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Light background color */
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* White background color */
    color: #333333; /* Dark text color */
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    height: 70px; /* Increased height */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjusted padding */
    height: 100%; /* Ensure container takes up full height */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: auto;
}

nav ul li a {
    color: #333333; /* Dark text color */
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #666666; /* Lighter hover color */
}

.content {
    padding: 20px;
}

h1 {
    color: #333333; /* Dark text color */
}

p {
    color: #666666; /* Medium text color */
}
